<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<array>
		<dict>
			<key>id</key>
			<string>60000001951</string>
			<key>title</key>
			<string>系统消息</string>
			<key>icon</key>
			<string>tw_xx_xitong</string>
			<key>default</key>
			<true/>
			<key>delete</key>
			<false/>
			<key>sort</key>
			<integer>99</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>50000001000</string>
			<key>title</key>
			<string>工作消息</string>
			<key>icon</key>
			<string>tw_xx_work</string>
			<key>default</key>
			<false/>
			<key>delete</key>
			<false/>
			<key>sort</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>60000001952</string>
			<key>title</key>
			<string>圈子消息</string>
			<key>icon</key>
			<string>tw_xx_email</string>
			<key>default</key>
			<true/>
			<key>delete</key>
			<false/>
			<key>sort</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>50000001001</string>
			<key>title</key>
			<string>T+消息</string>
			<key>icon</key>
			<string>t_icon</string>
			<key>default</key>
			<false/>
			<key>delete</key>
			<false/>
			<key>sort</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>8f442ec3-713e-4133-b64c-5d2d828c5426</string>
			<key>title</key>
			<string>T+通知</string>
			<key>icon</key>
			<string>t_icon</string>
			<key>default</key>
			<false/>
			<key>delete</key>
			<true/>
			<key>sort</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<string>1.3</string>
</dict>
</plist>
